.namesTable
  border-collapse: collapse
  table-layout: auto

  .header
    th
      padding: 5px
      border-bottom: 1px solid #3c4144
      border-right: 1px dotted #3c4144

      &:last-child
        border-right: none