.main
  display: flex

  gap: 20px

  .list
    flex: 1 1 auto

    .addButton
      position: fixed
      bottom: 20px
      right: 520px

      &.noInvoice
        right: 20px

  .form
    width: min(500px, 100vw)

    display: flex
    flex-direction: column

    .closeInvoiceBtn
      margin: auto 0
      padding: 0.5rem 1rem

      border-radius: 50px
      background-color: limegreen
      color: white

      border: none
      outline: none

      cursor: pointer

      &:hover, &:focus
        background-color: #ff4b4b

@media (max-width: 880px)
  .form
    background-color: #0a0b0b

    position: fixed

    left: 0
    top: var(--nav-height)
    right: 0
    bottom: 0

    padding: 15px 0

  .addButton
    right: 20px !important
