.main
  display: flex

  gap: 20px

  .list
    flex: 1 1 auto

  .form
    flex: 0 1 500px


@media (max-width: 880px)
  .form
    background-color: #0a0b0b

    position: fixed

    left: 0
    top: var(--nav-height)
    right: 0
    bottom: 0

    padding: 15px 0
