.form
  display: flex
  flex-direction: column
  gap: 15px

  max-height: calc(100% - 52px)

  .tableContainer
    overflow-y: auto

    border-top: 1px solid #3c4144
    border-bottom: 1px solid #3c4144
    width: 100%

    display: flex
    flex-direction: column
    gap: 20px
