.meta
  display: flex
  flex-direction: column
  gap: 10px

  padding: 0 15px

  .info
    display: flex
    justify-content: space-between

    .left
      display: flex
      flex-direction: column
      gap: 10px

      .closed
        color: #ff4b4b

    .right
      display: flex
      align-items: center
      justify-content: center
